body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  height: calc(100vh - 40px);
}
h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: black;
}
p {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: black;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: gray;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 40px;
}

button:hover {
  background-color: gainsboro;
}